# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Environment variables
a.env
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node / frontend
frontend/node_modules/
frontend/dist/

# Logs
*.log

# Docker volumes
mongodb_data/
